.incr-dec-button {
color: white;
font-weight:bold;
width:28px;
height:28px;
font-size:20px;
border-radius:20px;
border:transparent;
padding:0px;

}

.myClickableThingy:hover {
    cursor: pointer;
    background-color:white
}

.show>.dropdown-menu {
    display: block;
    position: absolute;
  }
